[submodule "nvim"]
    path = nvim
    url = git@github.com:UniversalWill/nvim.git
    branch = master
[submodule "dwm"]
    path = dwm
    url = https://git.suckless.org/dwm
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
